<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>

    window.randomStr=(len)=>{
      let chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';  
      let result="";
      　for (i = 0; i < len; i++) {
        result += chars.charAt(Math.floor((Math.random()*10) * result.length));
  　　}
      return result;
    }

    window.runCommand=function(command,...args){
      console.log('command:'+command+' '+args.join(' '))
      return new Promise((resolve,reject)=>{
        let data=[]
        for(let i=0;i<8;i++){
          data.push({
            "key":Math.random(),
            "CONTAINER ID": window.randomStr(8),
            "IMAGE": window.randomStr(8),
            "COMMAND": "bash",
            "CREATED": (new Date).toDateString(),
            "STATUS": (Math.random()*10) >=4 ? 'Up' : "Exit",
            "PORTS": (Math.random()*10) >=4 ? '80/tcp' : "0.0.0.0:80->80/tcp",
            "NAMES": window.randomStr(8),
            "NAME": window.randomStr(8),
            "REPOSITORY": window.randomStr(8),
            "TAG": "last",
            "SIZE": `${(Math.random() * 120).toFixed(1)}MB`,
            "IMAGE ID": window.randomStr(8),
            "DESCRIPTION": window.randomStr(16),
            "STARS":Math.floor((Math.random()*100)),
            "OFFICIAL":(Math.random()*10) >=4 ? '[ok]' : "",
            "DRIVER": "bridge",
            "NAME":window.randomStr(16),
            "NETWORK ID":window.randomStr(16),
            "SCOPE":'local',
          })
        }
        resolve(data)
      })
    }
  </script>
</head>
  <body>
      <div id="root"></div>
  </body>
</html>